.main-first-section{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-selected{
    width: 500px;
    height: 400px;
    object-fit: cover;
}
.products-selected{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 200px;
}
.description-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.our-space-photos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2px;
  }
  .our-space-photos li:first-child {
    grid-column: span 2;
  }
  .our-space-photos img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
@media screen and (max-width: 480px) {
    .main-first-section{
        flex-direction: column;
        height: 100%;
        padding: 0;
    }
   
    .products-selected{
        flex-direction: column;
        margin: 20px;
    }
    .description-area{
        padding: 20px;
        width: 100%;
    }
    .container-location{
        flex-direction: column;
    }
    .text-location{
        width: 100%;
    }
    .location-area{
        padding: 0;
        text-align: center;
    }
    
}