@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --background: #ccc;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  font-family: 'roboto', sans-serif;
}
