.nav-container {
    align-items: center;
    width: 100%;
    color: #000;
    background-color: #fff;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-icon {
    display: none;
}

.logo {
    font-weight: 800;
}

.links {
    padding: 8px;
    font-weight: 400;
}

.menu-links {
    align-items: center;
    margin-left: 12px;
}

.arrow {
    cursor: pointer;
}

.socials {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-right: 12px;
}

@media screen and (max-width: 480px) {

    .container-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        text-align: center;
        display: none;

    }

    .mobile-menu-icon {
        display: block;
    }

    .menu-links {
        flex-direction: column;
        padding: 8px;
    }

    .socials {
        justify-content: center;
    }

    .socials-icons {
        padding: 8px;
    }

    .menu-opened {
        display: block;
        position: absolute;
        top: 39px;
        left: 0;
        right: 0;
    }

}